.description {
  &:not([contenteditable="true"]) {
    cursor:pointer;
  }
  &.blank {
    color:#c0c0c0;
  }
}

.timer {
  background:#e0e0e0;
  border-bottom:1px #000 solid;
  &>DIV {
    padding:10px;
  }
  &:nth-child(even) {
    background:#f0f0f0;
  }
  &.selected {
    background:#c0e0f0;
  }
  &:after {
    display:block;
    content:' ';
    clear:both;
  }
}
.starter {
  margin-top:10px;
}
.delete {
  margin-left:10px;
  color:#c00 !important;
}
.time {
  padding: 20px 0 !important;
  font-size: 22px;
  line-height:1.1111111111;
}
.description {
  font-size:18px;
  line-height:1.333333333;
  padding:20px 10px !important;
}
@media screen and (max-width:767px) {
  .container-fluid, .container-fluid>.row-fluid, .main {
    margin:0;
    padding:0;
  }
  H1, .starter {
    margin:10px;
  }
  .description {
    padding-top:10px !important;
    padding-bottom:0 !important;
  }
  .timer-toggle, .time {
    margin:0 !important;
    box-sizing:border-box;
  }
  .time {
    width:40%;
    float:left;
    padding:20px 10px !important;
  }
  .timer-toggle {
    width:60%;
    float:right;
    text-align:right !important;
  }
}
@media print {
  BUTTON, .timer-toggle {
    display:none !important;
  }
  .description {
    width:80%;
    float:left;
    margin:0 !important;
    padding:5px 0 !important;
  }
  .time {
    float:right;
    width:15%;
    margin:0 !important;
    padding:5px 0 !important;
  }
}
