.description {
  &:not([contenteditable="true"]) {
    cursor:pointer;
  }
  &.blank {
    color:#c0c0c0;
  }
}

.timer {
  &>DIV {
    padding:10px;
  }
  &:nth-child(even) {
    background:#c0e0f0;
  }
  &:after {
    display:block;
    content:' ';
    clear:both;
  }
}
